/* Write your CSS here */
.yet-to-register-img {
  height: 200px;
  width: 200px;
}
.registered-img {
  width: 100px;
  height: 100px;
}
.registrations-closed-img {
  height: 200px;
  width: 200px;
}
